<div class="randomWrapper">
  <div class="random" id="aaa" ngsreporter>
    <ngs-chronos>

      <!-- 3D scene(s) -->
      <ngt-render id="threeMaster">
        <ngt-orbit [enabled]="!isVRMode"></ngt-orbit>
        <ngt-vr [enabled]="isVRMode" [height]="height" [width]="width"></ngt-vr>
    
        <ngt-scene [helpers]="helpersFlag">
            <ngt-camera [location]="camPosition"></ngt-camera>
            <ngt-pointlight [location]="ligPosition"></ngt-pointlight>
            <ngt-hemispherelight [location]="hemPosition"></ngt-hemispherelight>
    
            <!-- <ngt-environment> -->
                <!-- <ngt-ground></ngt-ground> -->
                <!-- <ngt-dome></ngt-dome> -->
            <!-- </ngt-environment> -->
    
            <!-- <ngt-geometry> -->
                <!-- <ngt-box [location]="[0, 10, 0]" [rotation]="[30, 0, 0]"></ngt-box> -->
                <!-- <ngt-box [location]="[-12, 10, 0]" [rotation]="[0, 45, 30]"></ngt-box> -->
                <!-- <ngt-sphere [location]="[11, 10, 0]" [rotation]="[0, 0, 0]"></ngt-sphere> -->
                <!-- <ngt-sphere [location]="[0, 10, -10]" [rotation]="[0, 0, 0]"></ngt-sphere> -->
            <!-- </ngt-geometry> -->
        </ngt-scene>
      </ngt-render>
    
    </ngs-chronos>
  </div>
</div>
