<div class="randomWrapper">
  <div class="random" id="aaa" ngsreporter>
    <ngs-chronos>

      <!-- 3D scene(s) -->
      <ngt-render id="threeMaster">
        <ngt-orbit [enabled]="!isVRMode"></ngt-orbit>
        <ngt-vr [enabled]="isVRMode" [height]="height" [width]="width"></ngt-vr>
    
        <ngt-scene [helpers]="helpersFlag">
            <ngt-camera [location]="camPosition"></ngt-camera>

            <ngt-light [helpers]="lightHelpers">
              <ngt-point-light [offset]="lightPosition" [content]="pointLight" [animate]="lightAnimate"></ngt-point-light>
              <ngt-hemisphere-light [offset]="hemPosition" [content]="hemiLight" [animate]="lightAnimate"></ngt-hemisphere-light>
            </ngt-light>
    
            <ngt-environment>
              <ngt-ground></ngt-ground>
              <ngt-dome></ngt-dome>
            </ngt-environment>
    
            <ngt-geometry>
              <ngt-object [location]="[0, 10, 0]" [rotation]="[30, 0, 0]" [content]="cubeA"></ngt-object>
              <ngt-object [location]="[-12, 10, 0]" [rotation]="[0, 45, 30]" [content]="cubeB"></ngt-object>
              <ngt-object [location]="[11, 10, 0]" [rotation]="[0, 0, 0]" [content]="sphereA"></ngt-object>
              <ngt-object [location]="[0, 10, -10]" [rotation]="[0, 0, 0]" [content]="sphereB"></ngt-object>
              <!-- <ngt-dynamic [location]="[0, 0, 0]" [rotation]="[0, 0, 0]" [content]="dynamic"></ngt-dynamic> -->
            </ngt-geometry>
        </ngt-scene>
      </ngt-render>
    
    </ngs-chronos>
  </div>
</div>
