<div class="randomWrapper">
  <div class="random" id="aaa" ngsreporter>
    <ngs-chronos>

      <!-- 3D scene(s) -->
      <ngt-render id="threeMaster" class="mainScene">
        <ngt-orbit [enabled]="!isVRMode"></ngt-orbit>
        <ngt-vr [enabled]="isVRMode" [height]="height" [width]="width"></ngt-vr>

        <ngt-scene>
          <ngt-camera [location]="camPosition"></ngt-camera>
          <ngt-raycaster></ngt-raycaster>
          <ngt-projector></ngt-projector>

          <ngt-light [helpers]="true">
            <ngt-point-light [offset]="lightPosition" [content]="pointLight" [animate]="false"></ngt-point-light>
            <ngt-hemisphere-light [offset]="hemPosition" [content]="hemiLight" [animate]="false"></ngt-hemisphere-light>
          </ngt-light>

          <ngt-environment>
            <ngt-background [color]="backgroundColor"></ngt-background>
            <ngt-ground></ngt-ground>
            <ngt-dome></ngt-dome>
            <ngt-fog [color]="backgroundColor" [near]="1" [far]="500"></ngt-fog>

            <ngt-helper-axes [side]="100"></ngt-helper-axes>
            <ngt-helper-grid [size]="400" [divisions]="40"></ngt-helper-grid>
          </ngt-environment>

          <!-- TODO - add layer support for each group of objects, link that to layer number -->
          <ngt-geometry>
            <ngt-object [offset]="cubeAOffset" [rotation]="cubeARotation" [scale]="cubeAScale" [content]="cubeA"></ngt-object>
            <ngt-object [offset]="cubeBOffset" [rotation]="cubeBRotation" [scale]="cubeBScale" [content]="cubeB" [interact]="true"></ngt-object>
            <ngt-object [offset]="sphereAOffset" [rotation]="sphereARotation" [scale]="sphereAScale" [content]="sphereA"></ngt-object>
            <ngt-object [offset]="sphereBOffset" [rotation]="sphereBRotation" [scale]="sphereBScale" [content]="sphereB" [interact]="true"></ngt-object>
            <!-- <ngt-dynamic [offset]="dynamicOffset" [rotation]="dynamicRotation" [scale]="dynamicScale" [animate]="dynamicAnimate" [content]="dynamic" [interact]="true"></ngt-dynamic> -->
          </ngt-geometry>
        </ngt-scene>
      </ngt-render>

      <!-- 2D canvas overlay(s) -->
      <ngc-render id="baseUI" class="overlay">
        <ngc-shape [content]="rectangle"></ngc-shape>
        <ngc-shape [content]="dot"></ngc-shape>
        <ngc-shape [content]="cloud"></ngc-shape>
      </ngc-render>

    </ngs-chronos>
  </div>
</div>
