<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<hr/>

<div class="randomWrapper">
  <div class="random" id="aaa" ngsreporter>
    <ngs-chronos>
      <!-- 3D scene(s) -->
      <ngt-render id="threeMaster"></ngt-render>
    
      <!-- 2D canvas overlay(s) -->
      <ngc-render id="baseUI" testCont></ngc-render>
      <!-- <ngc-render id="baseTab"></ngc-render> -->
      <!-- <ngc-render id="baseAny"></ngc-render> -->
    </ngs-chronos>
  </div>
</div>

<hr/>

<router-outlet></router-outlet>
