<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<hr/>

<div class="randomWrapper">
  <div class="random" id="aaa" ngsreporter>
    <ngs-chronos>
      <!-- 3D scene(s) -->
      <ngt-render id="threeMaster"></ngt-render>
    
      <!-- 2D canvas overlay(s) -->
      <ngc-render id="baseUI"></ngc-render>
      <ngc-render id="baseTab"></ngc-render>
      <ngc-render id="baseAny"></ngc-render>
    </ngs-chronos>
  </div>
</div>

<hr/>

<div class="randomWrapper">
  <div class="randomer" id="ttt" ngsreporter>
    <ngs-chronos>
      <!-- 3D scene(s) -->
      <ngt-render id="three-1"></ngt-render>
    
      <!-- 2D canvas overlay(s) -->
      <ngc-render id="can-a-1"></ngc-render>
      <ngc-render id="can-a-2"></ngc-render>
      <ngc-render id="can-a-3"></ngc-render>
    </ngs-chronos>
  </div>
</div>

<hr/>

<router-outlet></router-outlet>
