
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to {{ title }}!</h1>
</div>

<hr/>

<div class="lipsum">
  <!-- <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue ligula augue, ut tristique quam fermentum in.
    Suspendisse sollicitudin porta velit eu fermentum. Sed accumsan nisi leo, in malesuada tellus gravida sed. Donec vel
    elit nibh. Vivamus finibus eros elit, non auctor mi efficitur quis. Vestibulum ullamcorper congue est, eu interdum
    risus elementum sit amet. Nulla sit amet diam mattis, congue nisl eget, accumsan odio. Curabitur bibendum tempor
    ligula.
  </p> -->
  <p>
    Vivamus sed cursus metus. Mauris pulvinar viverra pellentesque. Nunc sed efficitur mi. Nunc faucibus, est a
    facilisis dignissim, libero est malesuada mauris, a commodo urna justo quis ipsum. In ultricies metus nec leo
    placerat, vel mollis ligula facilisis. Cras fringilla accumsan nunc, eu dapibus urna sollicitudin a. Aliquam rhoncus
    purus non lorem efficitur, sit amet euismod ante eleifend.
  </p>
  <p>
    Nulla facilisi. Etiam ultrices semper ante, ac commodo mauris gravida sit amet. Integer consectetur auctor ligula,
    et suscipit neque lacinia eget. Morbi a ornare metus. Aenean ac urna quam. Donec magna leo, tincidunt eget elementum
    at, porttitor quis mauris. Phasellus consequat turpis eu finibus dictum.
  </p>
  <!-- <p>
    Nulla porttitor dolor ante. Suspendisse potenti. Cras nunc arcu, commodo quis eleifend ac, elementum a mauris.
    Aenean finibus lacus ac leo consectetur tincidunt. Sed tempus, augue ut scelerisque mattis, purus lectus mollis
    diam, et pellentesque purus nibh ac nisi. Nullam a consectetur metus. Praesent tortor ligula, ultricies in semper
    sed, porttitor et leo. Etiam nec leo at massa suscipit rutrum vitae sit amet est. Suspendisse ullamcorper
    sollicitudin odio quis efficitur. Curabitur non purus nec sem pretium dictum id nec orci. Nunc pellentesque at dolor
    nec malesuada. Etiam vestibulum felis a dolor venenatis, ac blandit dui suscipit. Vestibulum lorem augue, convallis
    eget euismod non, semper vel dui. Integer dictum ultricies dignissim.
  </p> -->
  <!-- <p>
    Praesent sapien est, dapibus vel ex eget, congue molestie felis. Nam elementum neque at quam rutrum dignissim. In
    sed justo nec est bibendum egestas at a quam. Sed sollicitudin est at nunc euismod gravida. Mauris tempus elementum
    egestas. Integer tempor lectus a blandit suscipit. Nam maximus ipsum rhoncus egestas feugiat. Morbi vel lacus vel
    erat posuere viverra. Nunc vitae augue id urna volutpat molestie. Aliquam erat volutpat.
  </p> -->
</div>

<hr/>

<router-outlet></router-outlet>

<hr/>

<div class="lipsum">
  <!-- <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue ligula augue, ut tristique quam fermentum in.
    Suspendisse sollicitudin porta velit eu fermentum. Sed accumsan nisi leo, in malesuada tellus gravida sed. Donec vel
    elit nibh. Vivamus finibus eros elit, non auctor mi efficitur quis. Vestibulum ullamcorper congue est, eu interdum
    risus elementum sit amet. Nulla sit amet diam mattis, congue nisl eget, accumsan odio. Curabitur bibendum tempor
    ligula.
  </p> -->
  <p>
    Vivamus sed cursus metus. Mauris pulvinar viverra pellentesque. Nunc sed efficitur mi. Nunc faucibus, est a
    facilisis dignissim, libero est malesuada mauris, a commodo urna justo quis ipsum. In ultricies metus nec leo
    placerat, vel mollis ligula facilisis. Cras fringilla accumsan nunc, eu dapibus urna sollicitudin a. Aliquam rhoncus
    purus non lorem efficitur, sit amet euismod ante eleifend.
  </p>
  <p>
    Nulla facilisi. Etiam ultrices semper ante, ac commodo mauris gravida sit amet. Integer consectetur auctor ligula,
    et suscipit neque lacinia eget. Morbi a ornare metus. Aenean ac urna quam. Donec magna leo, tincidunt eget elementum
    at, porttitor quis mauris. Phasellus consequat turpis eu finibus dictum.
  </p>
  <!-- <p>
    Nulla porttitor dolor ante. Suspendisse potenti. Cras nunc arcu, commodo quis eleifend ac, elementum a mauris.
    Aenean finibus lacus ac leo consectetur tincidunt. Sed tempus, augue ut scelerisque mattis, purus lectus mollis
    diam, et pellentesque purus nibh ac nisi. Nullam a consectetur metus. Praesent tortor ligula, ultricies in semper
    sed, porttitor et leo. Etiam nec leo at massa suscipit rutrum vitae sit amet est. Suspendisse ullamcorper
    sollicitudin odio quis efficitur. Curabitur non purus nec sem pretium dictum id nec orci. Nunc pellentesque at dolor
    nec malesuada. Etiam vestibulum felis a dolor venenatis, ac blandit dui suscipit. Vestibulum lorem augue, convallis
    eget euismod non, semper vel dui. Integer dictum ultricies dignissim.
  </p> -->
  <p>
    Praesent sapien est, dapibus vel ex eget, congue molestie felis. Nam elementum neque at quam rutrum dignissim. In
    sed justo nec est bibendum egestas at a quam. Sed sollicitudin est at nunc euismod gravida. Mauris tempus elementum
    egestas. Integer tempor lectus a blandit suscipit. Nam maximus ipsum rhoncus egestas feugiat. Morbi vel lacus vel
    erat posuere viverra. Nunc vitae augue id urna volutpat molestie. Aliquam erat volutpat.
  </p>
</div>

<hr/>
