<div class="randomWrapper">
  <!-- 3D part -->
  <div class="random" id="aaa" ngsreporter>
    <ngs-chronos>

      <!-- 3D scene(s) -->
      <ngt-render id="threeMaster" class="mainScene">
        <ngt-orbit></ngt-orbit>

        <ngt-scene>
          <ngt-camera [location]="env.camPosition" [lookAt]="env.lookAt"></ngt-camera>
          <!-- <ngt-raycaster></ngt-raycaster> -->
          <!-- <ngt-projector></ngt-projector> -->

          <ngt-light [helpers]="true">
            <ngt-light-point [offset]="env.lightPosition" [content]="pointLight" [animate]="false"></ngt-light-point>
            <ngt-light-hemisphere [offset]="env.hemPosition" [content]="hemiLight" [animate]="false"></ngt-light-hemisphere>
          </ngt-light>

          <ngt-environment>
            <ngt-background [color]="env.backgroundColor"></ngt-background>
            <ngt-panorama [basePath]="imagePath" [imageArray]="imageUrls"></ngt-panorama>
            <ngt-ground [color]="env.groundColor" [specular]="env.groundSpecular" [size]="2000"></ngt-ground>
            <ngt-fog [color]="env.fogColor" [near]="1" [far]="500"></ngt-fog>

            <ngt-helper-axes [side]="100"></ngt-helper-axes>
            <ngt-helper-grid [size]="400" [divisions]="40"></ngt-helper-grid>
          </ngt-environment>

          <ngt-geometry>

            <ngt-gltf-scene [basePath]="gltfPath" [fileName]="gltfFile"></ngt-gltf-scene>

          </ngt-geometry>
        </ngt-scene>
      </ngt-render>

    </ngs-chronos>
  </div>

</div>
  